@import '../../assets/css/_variable.less';

.i-txt-box {
  display: flex;
  align-items: center;
  width: 100%;
  // width: 200px;
  height: 40px;
  font-size: 14px;
  background: #193c66;
  border: 1px solid #2378de;
  border-radius: 2px;

  // box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  &.disabled {
    cursor: not-allowed;
  }

  .i-txt {
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: inherit;
  }
}
