.no-data-box {
  margin: 0 auto;
  padding: 100px 0 20px;
  text-align: center;

  &.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 20px 0;
  }

  .img {
    width: 216px;
    height: 216px;
  }

  .title {
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;

    span {
      color: #206ecb;
    }

    .i-loading {
      display: inline-block;
      margin-right: 10px;
      color: #fff;
      font-size: 18px;
      animation: loading 1s linear 0s infinite;
    }
  }
}
