@import '../../assets/css/_variable.less';

.icon-check {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: @aibox-bg3;
  border-radius: 2px;
  cursor: pointer;

  &.active {
    background: @aibox-bg2;
  }

  &.disabled {
    background: @aibox-bg3;
    cursor: not-allowed;
  }

  .check-on {
    color: #fff;
    font-size: 16px;
  }
}
